---
interface Props {
  className?: string
  href?: string
  newTab?: boolean
  text?: string
}

const { href, newTab = false, text } = Astro.props
---

<a
  class="w-max px-1.5 py-2.5 md:px-4 md:py-3 uppercase rounded-lg bg-button text-white hover:bg-white hover:text-button-hover border border-button hover:border-button-hover font-bold text-center text-xs md:text-sm transition-colors duration-300 ease-in"
  href={href}
  target={newTab ? '_blank' : undefined}
>
  {text}
</a>
