---
interface Props {
  class: string
}
const { class: className } = Astro.props
---

<div class:list={['relative gap-4px flex flex-col cursor-pointer border border-2 p-2 rounded-md', className]}>
  <input type="checkbox" class="peer absolute inset-0 opacity-0 z-36" />
  <div
    class="h-2px w-4 bg-slate-900 dark:bg-white peer-checked:-rotate-45 peer-checked:translate-y-1.5 transition-all duration-150"
  >
  </div>
  <div
    class="h-2px w-4 bg-slate-900 dark:bg-white peer-checked:bg-white dark:peer-checked:bg-slate-900 transition-all duration-150"
  >
  </div>
  <div
    class="h-2px w-4 bg-slate-900 dark:bg-white peer-checked:rotate-45 peer-checked:-translate-y-1.5 transition-all duration-150"
  >
  </div>
</div>
