---
import { skillsSection } from '../data/portfolio'
---

<div>
  <ul class="text-5xl text-center">
    {
      skillsSection.softwareSkills.map((skills) => (
        <li class="software-skill-inline">
          <i class={skills.fontAwesomeClassname} />
        </li>
      ))
    }
  </ul>
</div>

<style>
  .software-skill-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .software-skill-inline > i {
    color: #868e96;
  }

  .software-skill-inline > i:hover {
    color: #645beb;
  }
</style>
