---
import { Image } from 'astro:assets'

import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

import Disqus from '@/components/vue/Disqus.vue'
import type { BlogPost } from '@/types/storyblok'

interface Props {
  blok: BlogPost['content']
}
const { blok } = Astro.props
const content = { component: 'rich_text', text: blok.content }
---

<article
  {...storyblokEditable(blok)}
  class="mx-auto max-w-none w-full md:w-2xl lg:w-4xl min-h-xl prose shadow-lg dark:prose-invert dark:shadow-sm dark:shadow-white p-8 rounded-xl"
>
  {
    blok.featured_image?.filename && (
      <Image
        class="w-full h-60 lg:h-80 object-cover"
        alt={blok.featured_image.alt ?? ''}
        src={`${blok.featured_image.filename}${
          blok.featured_image.is_external_url ? '' : '/m/900x400/filters:format(webp)'
        }`}
        height="400"
        width="900"
      />
    )
  }
  <h1>{blok.title}</h1>

  <StoryblokComponent blok={content} />

  <Disqus client:load />
</article>
