---
import { Image } from 'astro:assets'

import { storyblokEditable, useStoryblokApi, type SbBlokData } from '@storyblok/astro'
import { formatDistance } from 'date-fns'

import { listStoriesRes } from '@/schemas/storyblok'

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.VITE_ENVIRONMENT === 'preview' ? 'draft' : 'published',
  content_type: 'blogPost',
})

const sbData = listStoriesRes.parse(data)

interface Props {
  blok: SbBlokData
}
const { blok } = Astro.props
---

<ul {...storyblokEditable(blok)} class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {
    sbData.stories.map(({ full_slug, published_at, content }) => (
      <a
        href={`/${full_slug}`}
        class="flex flex-col items-center md:flex-row md:max-w-lg bg-white border border-gray-200 rounded-lg shadow  hover:bg-gray-100 dark:border-gray-700 dark:bg-slate-900 dark:hover:shadow-sm dark:hover:shadow-white dark:hover:bg-button-hover transition-shadow duration-300 ease-in"
      >
        {content.featured_image?.filename && (
          <Image
            class="object-cover rounded-t-lg w-full h-54 md:h-full md:w-48 md:min-h-48 md:rounded-none md:rounded-s-lg"
            src={`${content.featured_image.filename}${content.featured_image.is_external_url ? '' : '/m/0x200'}`}
            width="200"
            height="200"
            alt={content.featured_image.alt ?? ''}
          />
        )}
        <div class="flex flex-col w-full justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{content.title}</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3">{content.description}</p>
          {published_at && (
            <span class="text-xs text-right text-gray-500 dark-text-gray-300">
              {formatDistance(published_at, new Date(), { addSuffix: true })}
            </span>
          )}
        </div>
      </a>
    ))
  }
</ul>
