---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import TopButton from '../components/TopButton.astro'

const { title } = Astro.props
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v8=qAJ44G5Bm7" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v8=qAJ44G5Bm7" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v8=qAJ44G5Bm7" color="#885bd5" />
    <link rel="shortcut icon" href="/favicon.ico?v8=qAJ44G5Bm7" />
    <meta name="msapplication-TileColor" content="#603cba" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#6c63ff" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v8=qAJ44G5Bm7" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="font-montserrat antialiased flex flex-col w-9/10 mx-auto my-8 md:my-12 gap-4 md:gap-8 bg-white text-black dark:bg-slate-900 dark:text-white"
  >
    <Header />
    <slot />
    <Footer />
    <TopButton />
  </body>
</html>
